<!DOCTYPE html>
<html>
<head>
    <title>Index_ClientManage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--App styles-->
    <link href="../../Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Scripts/libs/bootstrap/datetimepicker/bootstrap-datetimepicker.min.css" rel="Stylesheet" />
    <link href="../../Content/css/app.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../../Scripts/libs/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--App Wrapper begin-->
    <div id="appWrap">
        <!--Admin Menu Begin-->
        <div id="adminMenuBack"></div>
        <div id="adminMenuWrap" role="navigation">
            
        </div>
        <!--Admin Menu End-->

        <!--App Content Begin-->
        <div id="appContent">
            <!--Top nav begin-->
            <div id="appAdminBar" class="navbar navbar-inverse" role="navigation">
                
            </div>
            <!--Top nav end-->

            <!--App Body begin-->
            <div id="appBody">
                <div id="appBody-content" aria-label="Ö÷ÄÚÈİ">
                    <div class="wrap">

                    </div>
                </div>
            </div>
            <!--App Body End-->
        </div>
        <div class="clearfix"></div>
        <!--App Content End-->

        <!--App Footer Begin-->
        <div id="appFooter">
        </div>
        <!--App Footer End-->
    </div>
    <!--App Wrapper end-->

<!--javascript lib begin-->
<script data-main="../../Scripts/require_main" src="../../Scripts/libs/require/require.js"></script>
<!--javascript lib end-->

</body>
</html>