<!DOCTYPE html>
<html>
<head>
    <title>Sign in &middot; App ClientManage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--App styles-->
    <link href="../../Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../../Scripts/component/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body id='body-signin'>

<img src="../../Content/images/App_logo.jpg" class="appLogo-signin">
<div id="container">
    <div id="signin-error">
        <strong>错误</strong>
        ：<b>无效用户名</b>
    </div>
    <form class="form-signin" id="form-signin" method="post" action="/app-login.html">
        <h2 class="form-signin-heading">登录系统</h2>
        <label for="userName">
            <input type="text" id="userName" class="input-block-level" placeholder="请输入中文名"/>
        </label>
        <label for="password">
            <input type="password" id="password" class="input-block-level" placeholder="请输入密码"/>
        </label>
        <label class="checkbox">
            <input name="rememberMe" type="checkbox" value="remember-me"> 记住我
        </label>
        <button class="btn btn-large btn-primary" type="submit">提交</button>
    </form>
</div>

<!--javascript lib begin-->
<script data-main="../../Scripts/mainLogin" src="../../Scripts/libs/require/require.js"></script>
<!--javascript lib end-->
</body>
</html>