#To be ignored
packages/
ClientManage.UnitTests/bin/
ClientManage.WebUI/bin/
ClientManage.UnitTests/obj/
ClientManage.WebUI/obj/
ClientManage.Domain/bin/
ClientManage.Domain/obj/
ClientManage.suo
ClientManage.sln
ClientManage.WebDesign/
ClientManage.WebUI/.idea/
