<link href="../../Scripts/libs/zTree/css/zTreeStyle.css" rel="Stylesheet" />
<div class="roleMgr-editPermission-wrap">
    <h2>编辑角色权限</h2>
    <div class="feedbackMsg alert">

    </div>
    <form id="editForm" action="/RoleMgr/EditPermission" method="post">
        <div class="control-group">
            <div class="controls">
                <div class="zTreeDemoBackground left">
                    <ul id="permissionTree" class="ztree"></ul>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button id="btnSubmit" class="btn btn-large btn-success" type="submit">提交</button>
            </div>
        </div>
    </form>
</div>

<script src="../../Scripts/libs/zTree/jquery.ztree.core-3.5.min.js" type="text/javascript" />
<script src="../../Scripts/libs/zTree/jquery.ztree.excheck-3.5.min.js" type="text/javascript" />