<div id="Setting-ApplyStageVersion-Create-Content">
    <h2>添加申请阶段版本信息</h2>
    <ul class="nav nav-tabs" id="CreateVersionNav">
        <li class="active"><a href="#tabCreateVersionForm" data-href="#tabCreateVersionForm" data-toggle="tab">版本信息</a></li>
        <li class="disabled"><a data-href="#tabCreateVersionDetailForm" data-toggle="">版本阶段信息</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabCreateVersionForm">

        </div>
        <div class="tab-pane" id="tabCreateVersionDetailForm">

        </div>
    </div>
</div>