<div class="control-group">
    <label class="control-label" >阶段名称：</label>
    <div class="controls">
        <input type="text"
               class="VersionDetail_StageName"
               name="VersionDetail_StageName"
               placeholder="请输入阶段名称"
               value="<%= StageItem.StageName %>" />

    </div>
</div>
<div class="control-group">
    <label class="control-label" >是否可用：</label>
    <div class="controls">
        <input type="checkbox" class="forbidSwitch VersionDetail_IsForbid"
               data-on-color="success" data-off-color="warning"
                <%= (StageItem.IsForbid == false) ? 'checked' : "" %> />
    </div>
</div>
<!-- Wrap Some Fields, which is active when stage is not forbidden -->
<fieldset class="unForbidFields">
    <div class="control-group">
        <label class="control-label" >是否可禁用：</label>
        <div class="controls">
            <input type="checkbox" class="switch VersionDetail_CanForbid"
                   data-size="mini"
            <%= (StageItem.CanForbid == true) ? 'checked' : "" %> />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" >是否可修改名称：</label>
        <div class="controls">
            <input type="checkbox" class="switch" class="VersionDetail_CanChangeName"
                   data-size="mini"
            <%= (StageItem.CanChangeName == true) ? 'checked' : "" %> />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" >是否可修改日期：</label>
        <div class="controls">
            <input type="checkbox" class="switch" class="VersionDetail_CanChangeDate"
                   data-size="mini"
            <%= (StageItem.CanChangeDate == true) ? 'checked' : "" %> />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" >是否有时间限制：</label>
        <div class="controls">
            <input type="checkbox" class="timeLimitSwitch" class="VersionDetail_IsDateSameWithParent"
                   data-size="mini"
            <%= (StageItem.IsDateSameWithParent == false) ? 'checked' : "" %> />
        </div>
    </div>
    <!-- Wrap the field by the class 'timeRelated' which is active when the stage do not have time limitation -->
    <div class="control-group timeRelated">
        <label class="control-label" >开始日期：</label>
        <div class="input-prepend input-append">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="dropdown-text" data-IsCalBeginDate=<%= StageItem.IsCalEndDate %>>
                        <%= (StageItem.IsCalBeginDate == false) ? '有确定开始日期' : '需计算开始日期' %>
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu IsCalDateMenu">
                    <li><a href="javascript:void(0)" data-IsCalDate="false" >有确定开始日期</a></li>
                    <li><a href="javascript:void(0)" data-IsCalDate="true" >需计算开始日期</a></li>
                </ul>
            </div>
            <input class="span2" class="VersionDetail_BeginDate" type="text" placeholder="只允许填写整数" value="<%= StageItem.BeginDate %>" >
            <span class="add-on"><%= (StageItem.IsCalBeginDate == false) ? '月' : '天' %></span>
        </div>
    </div>
    <!-- Wrap the field by the class 'timeRelated' which is active when the stage do not have time limitation -->
    <div class="control-group timeRelated">
        <label class="control-label" >结束日期：</label>
        <div class="input-prepend input-append">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="dropdown-text" data-IsCalEndDate=<%= StageItem.IsCalEndDate %>>
                        <%= (StageItem.IsCalEndDate == false) ? '有确定结束日期' : '需计算结束日期' %>
                    </span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu IsCalDateMenu">
                    <li><a href="javascript:void(0)" data-IsCalDate="false" >有确定结束日期</a></li>
                    <li><a href="javascript:void(0)" data-IsCalDate="true" >需计算结束日期</a></li>
                </ul>
            </div>
            <input class="span2" class="VersionDetail_EndDate" type="text" placeholder="只允许填写整数" value="<%= StageItem.EndDate %>">
            <span class="add-on"><%= (StageItem.IsCalEndDate == false) ? '月' : '天' %></span>
        </div>
    </div>
</fieldset>