/***********************************************
 * Created by samhwang1990@gmail.com on 14-8-6.
 ***********************************************/

/*Frame Set Begin*/
html,body{
	height:100%;
	padding: 0;
	margin: 0;
}
html{
	padding-top: 33px;
	box-sizing: border-box;
}

/* region CRM Section */

/* signIn Begin */
body#body-signin {
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #f5f5f5;
}

.appLogo-signin{
	display: block;
	margin: 0 auto;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 20px auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .form-signin-heading{
	font-size: 24px;
	font-weight: normal;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
#signin-error{
	display: none;
	width: 330px;
	margin: 10px auto 0px;
	padding: 12px;
	border: 0;
	background: #fff;
	border-left: 4px solid #dd3d36;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
/* signIn End*/
#appWrap{
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	-webkit-font-smoothing: subpixel-antialiased;
}
#adminMenuBack, #adminMenuWrap, #adminMenu{
	background-color: #222;
}
.app-has-subMenu .app-subMenu{
	background-color: #333;
}

#adminMenuBack {
	width:160px;
	position: absolute;
	top: 0;
	bottom: 0;
	/*z-index: -1;*/
}
#adminMenuWrap{
	width:160px;
	float: left;
	position: fixed;
	margin-top: 10px;
	z-index: 99;
}
#adminMenuWrap>.adminMenu{
	width: 160px;
	margin: 0;
	padding: 0;
}

#appContent{
	height: 100%;
	margin-left: 180px;
	position: relative;
	float: left;
}

#appAdminBar{
	direction: ltr;
	height: 34px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 600px;
	z-index: 99999;
	background: #222;
	margin-bottom: 0;
}
#appBody{
	position: relative;
	color: #444;
}
#appBody-content{
	padding-bottom: 65px;
	float: left;
	width: 100%;
	overflow: visible;
}
#appBody-content .wrap{
	margin: 10px 20px 0 2px;
}
#appFooter{
	margin-left: 180px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	margin-right: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	color: #777;
	border-color: transparent;
}
/*Frame Set End*/

/*More Icon Class Begin*/
.icon-role{
	background-image:url("../../Content/images/icon/role.png");
	background-position: 0px 0px;
}
.icon-role-white{
	background-image:url("../../Content/images/icon/role-white.png");
	background-position: 0px 0px;
}
/*More Icon Class End*/

/*Admin Bar Begin*/
.navbar .brand{
	padding: 2px 0 0 0;
	margin-left: -5px;
}
.navbar .editUser{
	display: block;
	padding: 5px;
	color: #fff;
	text-decoration: none;
}
/*Admin Bar End*/

/*Admin Menu Begin*/
.adminMenu>li{
	position: relative;
	min-height: 34px;
	cursor: pointer;
}
.adminMenu>li>a{
	position: relative;
	line-height: 34px;
}
.adminMenu>li a,.app-subMenu a{
	display: block;
	margin: 0;
	text-shadow: none;
	color: #eee;
}
.adminMenu>li>a:hover,.app-subMenu a:hover,#collapse-menu:hover{
	text-decoration: none;
	color: #53c3ed;
}
.adminMenu>li>a:hover,.adminMenu>.app-subMenu-open>a{
	background-color: #000;
}
.app-not-current-subMenu .app-subMenu{
	list-style: none;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
	z-index: 9999;
	top: -1000em;
	left: 160px;
	width: auto;
	min-width: 160px;
	overflow: visible;
	word-wrap: break-word;
}
.app-subMenu-open .app-subMenu{
	top: -1px;
	background-color: #333;
}
.app-has-current-subMenu .app-subMenu,.app-has-current-subMenu:hover .app-subMenu{
	position: relative;
	z-index: 3;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	margin: 0;
	width: auto;
	min-width: 160px;
	border: 0 none;
	margin-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.adminMenu>.app-menu-open>a,.adminMenu>.app-menu-open>a:hover{
	color: #fff;
	background-color: #0074a2;
}
.app-subMenu-open>a:after,.app-menu-open>a:after{
	right: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 8px;
	top: 50%;
	margin-top: -8px;
}
.app-subMenu-open>a:after{
	border-right-color:#333;
}
.app-menu-open>a:after{
	border-right-color: #f1f1f1;
}
.app-subMenu li{
	min-height: 30px;
	line-height: 30px;
	background-color: #333;
	cursor: pointer;
}
.app-subMenu li a{
	padding-left: 15px;
}
#collapse-menu{
	margin-top: 15px;
	color: #eee;
}
#collapse-menu div{
	float: left;
	margin-left: 15px;
}
/*Admin Menu End*/

/**
* @section structure style
*/
fieldset{
	margin-bottom: 20px;
}

/**
* @section component style
*/
.feedbackMsg{
	display: none;
}
fieldset.contactItem,fieldset.flashPointItem{
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.btnAddEasyChat{
	margin-top: 10px;
}
div.easyChat-wrap{
	margin-top: 10px;
}
input.display,.form-horizontal .display,.display{
	display: none;
}

/*
* @section feedbackMsg Class style
*/
.inputInvalid{
	display: block;
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}

/*
* @section FirstInterviewReg Class style
*/
.HasLangTranWrap,.TFIELTSWrap,.SATSSATWrap,.Sat2Wrap,.APWrap,.GREGMATWrap{
	margin-top: 5px;
}

/* endregion */

/* region ApplyFrame Section */
article, aside, section{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	/*word-break:break-all;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
main{
	min-height: 100%;
	box-sizing: border-box;
	display: block;
}
#appContent.app-apply-Wrap{
	float: none;
	margin-left: 160px;
}
#appContent.app-apply-Wrap .wrap{
	margin: 0;
}
.app-apply{
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
.app-apply .app-apply-copy h1{
	margin-bottom: 1rem !important;
}
.app-apply-action{
	margin-bottom: 1rem !important;
	margin-top: 1rem !important;
}
.app-apply-action-progress:after{
	content: "(" attr(value) ")";
	margin-left: .5rem;
	font-size: 100%;
}
img.stage-icon{
	height:8rem;
}

.app-apply-syllabus.leadin{
	padding-top: 2rem !important;
	position: relative;
}
.app-apply-syllabus .app-apply-syllabus-leadin{
	position: absolute;
	top: -2px;
	left: 50%;
	margin-left: -32px;
}

.app-apply-syllabus .app-apply-syllabus-topics{
	margin-top: 2rem !important;
}
.app-apply-syllabus .app-apply-syllabus-topics:last-child {
	margin-bottom: 3rem !important;
}
.app-apply-syllabus-topic h2{
	padding-top: 2rem !important;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	color: #204056;
}
.app-apply-syllabus-topic:first-of-type h2{
	padding-top: 1rem !important;
	margin-top: 0 !important;
}

.app-apply-syllabus-topic .app-apply-syllabus-stage{
	position: relative;
	display: table;
	width: 100%;
	height: 8rem;
	cursor: default;
	border-bottom: 1px solid transparent;
	background-clip: padding-box;
	opacity: 0.5;
}
.app-apply-syllabus-topic[data-state-topic="active"] .app-apply-syllabus-stage[data-state-stage="active"]{
	cursor: pointer;
	opacity: 1;
}

.app-apply-syllabus-topic .app-apply-syllabus-stage .app-apply-syllabus-stage-process{
	display: table-cell;
	vertical-align: middle;
	width: 20%;
	min-width: 5rem;
	text-align: center;
}

.app-apply-syllabus-topic .app-apply-syllabus-stage .app-apply-syllabus-stage-process span.app-apply-syllabus-process-circle {
	display: inline-block;
	position: relative;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}
.app-apply-syllabus-topic .app-apply-syllabus-stage .app-apply-syllabus-stage-process span.app-apply-syllabus-process-circle:not([value="0%"]){
	background-color: #39d1b4;
	color: white;
}
.app-apply-syllabus-topic .app-apply-syllabus-stage .app-apply-syllabus-stage-process span.app-apply-syllabus-process-circle:after{
	content: attr(value);
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1rem;
	margin-top: -0.5rem;
	font-size: 0.9rem;
	line-height: 1rem;
	text-align: center;
}
.app-apply-syllabus-topic .app-apply-syllabus-stage .app-apply-syllabus-stage-process span.app-apply-syllabus-process-circle[value="100%"]:after{
	font-size: 2rem;
	content: "\2713";
}

.app-apply-syllabus-topic .app-apply-syllabus-stage .app-apply-syllabus-stage-description{
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
	padding-right: 5rem !important;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 80%;
	height: 100%;
	font-size: 14px;
}
.app-apply-syllabus-topic .app-apply-syllabus-stage .app-apply-syllabus-stage-description h3{
	margin-bottom: 0;
	font-size: 18px;
}

.stage-detail-container{
	position: relative;
}
#stages-header{
	width: 100%;
	position: relative;
	height: 60px;
	border-bottom: 2px solid rgba(0,0,0,0.08);
	background-color: white;
	background-clip: padding-box;
	position: relative;
	margin-bottom: -2px;
	top: 0;
	left: 0;
	z-index: 1000000;
}
#stages-header-nav-container{
	position: relative;
	height: 100%;
}
#stages-header-nav-content{
	position: absolute;
	top: 0;
	bottom: 0;
}

#stage-detail-container{
	position: relative;
	box-sizing: border-box;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgba(32,64,86,0.7) !important;;
}
.stage-detail-content{
	box-sizing: border-box;
	min-height: 10rem;
}
.stage-detail-controls{
	height: 3rem;
}
.stage-detail-controls .control-section{
	position: relative;
	height: 100%;
	margin-left: 0;
	overflow: hidden;
}
.control-section .app-btn.btn-fillspace[state="disabled"] aside.cta{
	position: absolute;
	background: #204056;
	color: #fff;
	border: 0;
	z-index: 1000001;
	text-align: center;
	display: none;
	min-height: 3rem;
	padding: 0 1rem;
	line-height: 3.25rem;
	right: 100%;
	margin-right: 1rem;
	width: 16rem;
	top: 0;
	font-size: .8rem;
	text-transform: lowercase;
}
.control-section .app-btn.btn-fillspace[state="disabled"]:hover aside.cta{
	display: block;
}
.control-section .app-btn.btn-fillspace[state="disabled"]:hover aside.cta:after{
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	border-color: transparent transparent transparent #204056 ;
	border-style: solid;
	border-width: 1em;
	right: -1.5rem;
	top: .8rem;

}
/* endregion*/

/* region component style*/
@media screen and (max-width: 767px) and (min-width: 0){
	[exclude~="phone"] {
		display: none !important;
	}

	.card-nav{
		padding-right: 1rem !important;
		padding-left: 1rem !important;
		position: fixed;
		height: 3rem !important;
		width: auto !important;
		bottom: 3rem;
		border: 0;
		line-height: 0rem !important;
	}

	.card-nav-prev{
		left: 0;
		border-radius: 0 1.5rem 1.5rem 0 !important;
	}

	.card-nav-next{
		right: 0;
		border-radius: 1.5rem 0 0 1.5rem !important;
	}
}

@media screen and (min-width: 960px){
	[exclude~="desktop"] {
		display: none !important;
	}
}

@media screen and (min-width:768px) and (max-width:959px){
	[exclude~="tablet"]{
		display:none !important
	}
	.stage-detail-controls{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
}


article.fit-full,div.fit-full,section.fit-full{
	width: 100%;
}
article.fix-fixed,div.fix-fixed,section.fix-fixed{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	max-width: 960px;
	min-width: 200px;
	margin: 0 auto;
}
.row-fluid [class*="span"].row-no-spacing{
	width:100%;
}
.row-fluid [class*="span"].row-no-padding{
	padding: 0;
}
.row-fluid [class*="span"].row-no-margin{
	margin:0;
}
.row-fluid [class*="span"].row-center{
	margin-left: auto;
	margin-right: auto;
	min-height: 0;
	float: none;
}
.row-fluid [class*="span"].row-align-center{
	text-align: center;
}
.tabs{
	font-size: 0;
}
.tabs .tab{
	box-sizing: border-box;
	font-size: 0.9rem;
	white-space: nowrap;
	display: inline-block;
	height: 3.125rem;
	letter-spacing: 0.05rem;
}
.tab-body{
	display: none;
}
.tab-body[data-state-body="active"] {
	display: inline;
}
.tab-body[data-state-body="inactive"] {
	display: none;
}

.table-row {
	position: relative;
	cursor: pointer;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e6e7e8;
}
.tab-body .table-row:hover{
	background-color: #39d1b4;
	color: #fff !important;
}
.tab-body .table-row:hover h1,
.tab-body .table-row:hover h2,
.tab-body .table-row:hover h3,
.tab-body .table-row:hover h4,
.tab-body .table-row:hover h5,
.tab-body .table-row:hover h6{
	color: #fff;
}
.tab-body .table-row:hover .progress-bar-complete{
	background-color: #fff !important;
}

.tab-body .table-row:hover .progress-indicator{
	color: #fff !important;
}

.cell-row{
	position: relative;
}
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover{
	background-color: #39d1b4;
	color: #fff !important;
}
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover h1,
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover h2,
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover h3,
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover h4,
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover h5,
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover h6,
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover p{
	color: #fff;
}

.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover .app-apply-syllabus-stage-process span{
	background-color: #fff !important;
}
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover .app-apply-syllabus-stage-process span:after{
	color: #39d1b4;
}

.table-row .table-row-right-arrow,.cell-row .cell-row-right-arrow {
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -10px;
}
.table-row:hover .table-row-right-arrow i,
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]:hover .cell-row-right-arrow i{
	background-image: url("/Content/bootstrap/img/glyphicons-halflings-white.png");
}

.cell-row>a.link-target{
	cursor: default;
}
.app-apply-syllabus-topic[data-state-topic="active"] .cell-row[data-state-stage="active"]>a.link-target{
	cursor: pointer;
}

.table-row>a.link-target, .cell-row>a.link-target {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.text-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.app-progress{
	position: relative;
	box-sizing: border-box;
	height: 1em;
	width: 100%;
}
.progress-bar {
	position: absolute;
	height: .4em;
	left: 0;
	right: 3em;
	top: .3em;
}
.progress-bar-complete {
	position: absolute;
	height: 100%;
}

.progress-indicator{
	float: right;
	width: 3em;
	text-align: right;
	height: 1em;
	line-height: 1em;
}

.app-btn{
	line-height: 38px;
	height: 38px;
	padding: 0 20px;
	border: 1px solid transparent;
	cursor: pointer;
	outline: 0;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	white-space: nowrap;
}
.app-btn-success{
	background-color: #39d1b4;
	color: #fff !important;
}
.app-btn-success:not([state="disabled"]):hover{
	background-color: #3fe0c5;
}

.app-btn-success[state="disabled"]{
	background-color: rgba(57, 209, 180,.3);
	color: rgba(255,255,255,.3) !important;
}

.app-btn-transparent{
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	background-color: transparent;
	color: #fff;
}

.app-btn-large{
	font-size: 18px;
	padding: 0 20px;
	line-height: 50px;
	height: 50px;
}
.app-btn.btn-fillspace{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}
.app-btn.btn-round{
	border-radius: 3rem;
}

.link-area{
	position: relative;
	cursor: pointer;
}
.link-area>a.link-target {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.nav-dots{
	display: table;
	height: 100%;
	margin: 0 auto;
}
.nav-dots .dot{
	display: table-cell;
	position: relative;
	vertical-align: middle;
	word-break:keep-all;
}
.nav-dots .dot a{
	display: inline-block;
	vertical-align: middle;
	width: .75rem;
	height: .75rem;
	margin: 0 .3rem;
	box-sizing: content-box;
	border-radius: 50%;
	border: .2rem solid transparent;
	background-clip: content-box;
	background-color: #bcbec0;
	text-decoration: none;
	cursor: default;
}
.nav-dots .dot aside {
	position: absolute;
	background: #204056;
	color: #fff;
	border: 0;
	z-index: 1000001;
	text-align: center;
	display: none;
	min-height: 3rem;
	padding: 0 1rem;
	line-height: 3.25rem;
	top: 100%;
	margin-top: 1rem;
	width: 13rem;
	left: 50%;
	margin-left: -6.5rem;
}
.nav-dots .dot:hover aside{
	display: block;
}
.nav-dots .dot:hover aside:after{
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	border-color: transparent transparent #204056 transparent;
	border-style: solid;
	border-width: 1em;
	top: -2em;
	left: 6.5em;
}

.nav-dots .dot:hover a{
	background-color: #bcbec0;
	border-color: #bcbec0;
}
.nav-dots .dot-home a{
	width: auto;
	height: 1.25rem;
	padding: 0 .3rem;
	margin:-.25em 0 0;
	font-size: 2em;
	color:#bcbec0;
	box-sizing: border-box;
	border: 0;
	border-radius: 0;
	background: 0;
	background-clip: border-box;
}
.nav-dots .dot-home:hover a{
	background: none;
	cursor: pointer;
	color: #39d1b4;
}
.nav-dots .dot[data-state~="current"] a {
	border-color: #39d1b4;
	background-color: #39d1b4;
	cursor: pointer;
}
.nav-dots .dot[data-state~="completed"] a {
	background-color: #62dbc4;
	cursor: pointer;
}
.nav-dots .dot[data-state~="completed"]:hover a{
	border-color: #62dbc4;
	background-color: #62dbc4;
}

.card-nav.card-nav-next ul{
	list-style: none;
	transition: top .2s;
	padding-left: 0;
	position: relative;
	top: -3rem;
	margin-left: 0;
	margin-bottom: 0;
}
.card-nav.card-nav-next:not([state="disabled"]):hover ul{
	top: 0;
}
.card-nav.card-nav-next ul li{
	line-height: 3rem;
	left: 0;
	font-size: 1.125rem;
}
.card-nav.card-nav-next:not([state="disabled"]):hover ul li{
	font-size: 1.7rem;
}
/* endregion*/

/* region color scheme */
.color-scheme-white{
	color: #666;
	background-color: #fff;
}
.color-scheme-white h1,
.color-scheme-white h2,
.color-scheme-white h3,
.color-scheme-white h4,
.color-scheme-white h5,
.color-scheme-white h6{
	color:#204056;
	font-weight: normal;
}
.color-scheme-white p{
	color: #666;
}
.color-scheme-white a:not(.btn){
	color: #444;
	text-decoration: none;
}
.color-scheme-white .app-progress .progress-bar{
	background-color: #f1f2f2;
}
.color-scheme-white .app-progress .progress-bar-complete{
	background-color: #39d1b4 !important;
}
.color-scheme-white .app-progress .progress-indicator{
	color: #39d1b4 !important;
}

.color-scheme-white .table-row-progress .progress-indicator{
	color: #39d1b4 !important;
}

.color-scheme-darkgrey{
	color: #666;
	background-color: #e6e7e8;
}
.color-scheme-darkgrey h1,
.color-scheme-darkgrey h2,
.color-scheme-darkgrey h3,
.color-scheme-darkgrey h4,
.color-scheme-darkgrey h5,
.color-scheme-darkgrey h6 {
	color: #204056;
}
.tabs-color-scheme-darkgrey .tab[data-state="inactive"]{
	background: #f1f2f2;
}
.tabs-color-scheme-darkgrey .tab[data-state="active"], .tabs-color-scheme-darkgrey .tab:hover{
	background: #e6e7e8;
}

.color-scheme-grey{
	color: #666;
	background-color: #f1f2f2;
}
/* endregion */

/* region margin padding scheme */
.margin-top-bottom-0{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
.margin-top-bottom-1{
	margin-bottom: 1rem !important;
	margin-top: 1rem !important;
}
.margin-top-bottom-2{
	margin-bottom: 2rem !important;
	margin-top: 2rem !important;
}
.margin-top-1{
	margin-top:1rem !important;
}
.margin-top-2{
	margin-top:2rem !important;
}
.margin-bottom-1{
	margin-bottom: 1rem !important;
}
.margin-left-quarter{
	margin-left: 0.25rem !important;
}
.margin-right-quarter{
	margin-left: 0.25rem !important;
}
.padding-1{
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}
.padding-0{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* endregion */

/* region letter space scheme*/
.letter-spacing-point-1{
	letter-spacing: 0.1rem;
}
/* endregion */