
    <div class="container-fluid">
        <div class="dropdown pull-left">
            <a class="brand" href="<%= AppConfig.sitePath %>" data-toggle="dropdown"><img src="../../Content/images/App_logo_brand.jpg" alt="申博教育——客户管理系统"></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#Home/Index">关于 ClientManage</a></li>
                <li><a href="http://www.appedu.org/" target="_blank">公司官网</a></li>
            </ul>
        </div>
        <ul class="nav nav-collapse collapse navbar-response-collapse pull-left">
            <li><a href="#Home/Index"><i class="icon-home icon-white"></i>&nbsp;CRM </a> </li>
            <li><a href="#StudentMgr/Index/Create"><i class="icon-plus icon-white"></i>&nbsp;新建 </a> </li>
        </ul>
        <div class="dropdown pull-right">
            <a href="#" class="editUser" data-toggle="dropdown">您好，<%= CurrentUser.UserName %>&nbsp;&nbsp;<i class="icon-user icon-white"></i> </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#UserMgr/Edit-<%= CurrentUser.UserID %>">编辑我的个人资料</a></li>
                <li><a href="#SignOut">登出</a> </li>
            </ul>
        </div>
    </div>
