<!--App Wrapper begin-->
<div id="appWrap">
    <!--Admin Menu Begin-->
    <div id="adminMenuBack"></div>
    <div id="adminMenuWrap" role="navigation">

    </div>
    <!--Admin Menu End-->

    <!--App Content Begin-->
    <div id="appContent">
        <!--Top nav begin-->
        <div id="appAdminBar" class="navbar navbar-inverse" role="navigation">

        </div>
        <!--Top nav end-->

        <!--App Body begin-->
        <div id="appBody">
            <div id="appBody-content" aria-label="主内容">
                <div class="wrap">

                </div>
            </div>
        </div>
        <!--App Body End-->
    </div>
    <div class="clearfix"></div>
    <!--App Content End-->

    <!--App Footer Begin-->
    <div id="appFooter">

    </div>
    <!--App Footer End-->
</div>
<!--App Wrapper end-->

<!--javascript lib begin-->
<script data-main="../../Scripts/require_main" src="../../Scripts/libs/require/require.js"></script>
<!--javascript lib end-->