<div id="studentMgr-FirstInterviewReg-wrap" xmlns="http://www.w3.org/1999/html">
    <h3>编写客户初访表：<%= StudentInfo.NameCn %></h3>
    <ul class="nav nav-tabs" id="FirstInterviewRegFromNav">
        <li class="active"><a href="#tabFirstInterviewRegInfo" data-toggle="tab">学生基本信息</a></li>
        <li><a href="#tabFirstInterviewRegTP" data-toggle="tab">语言课程信息</a></li>
        <li><a href="#tabFirstInterviewRegFrom" data-toggle="tab">客户来源</a></li>
        <li><a href="#tabFirstInterviewRegFlashPoint" data-toggle="tab">客户闪光点</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabFirstInterviewRegInfo">
            <form id="FirstInterviewRegInfoForm" action="/StudentMgr/SaleTrack/PostFirstInterviewRegInfoForm" method="post" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="Gender">性别：</label>
                    <div class="GenderWrap controls">
                        <select name="Gender" id="Gender" class="span1">
                            <option value="0">男</option>
                            <option value="1">女</option>
                            <option value="2">未知</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="LiveCity">现居住城市：</label>
                    <div class="controls">
                        <input type="text" id="LiveCity" name="LiveCity" placeholder="请输入居住城市" value="<%= StudentInfo.LiveCity %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">倾向留学国家：</label>
                    <div class="NationIntentionWrap controls">
                        <input type="checkbox" class="CommonNationIntention AmericaIntention" data-nationIntention="美国" />美国&emsp;
                        <input type="checkbox" class="CommonNationIntention EnglandIntention" data-nationIntention="英国" />英国&emsp;
                        <input type="checkbox" class="CommonNationIntention CanadaIntention" data-nationIntention="加拿大" />加拿大&emsp;
                        <input type="checkbox" class="OtherNationIntention"  data-nationIntention="其他" />其他&nbsp;
                        <input type="text" class="txtOtherNationIntention" placeholder="请输入其他留学意向" value="<%= StudentInfo.OtherNationIntention %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="EducationIntention">留学阶段：</label>
                    <div class="EducationIntentionWrap controls">
                        <select name="EducationIntention" id="EducationIntention" class="span1">
                            <option value="0">高中</option>
                            <option value="1">本科</option>
                            <option value="2">硕士</option>
                            <option value="3">博士</option>
                            <option value="4">初中</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="SchoolCn">就读学校名称：</label>
                    <div class="controls">
                        <input type="text" id="SchoolCn" name="SchoolCn" placeholder="请输入学校中文名" value="<%= StudentInfo.SchoolCn %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Grade">年级：</label>
                    <div class="GradeWrap controls">
                        <select name="Grade" id="Grade" class="span1">
                            <option value="7" >初一</option>
                            <option value="8" >初二</option>
                            <option value="9" >初三</option>
                            <option value="11">高一</option>
                            <option value="12">高二</option>
                            <option value="13">高三</option>
                            <option value="14">大一</option>
                            <option value="15">大二</option>
                            <option value="16">大三</option>
                            <option value="17">大四</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="GraduationDate">毕业日期：</label>
                    <div class="controls">
                        <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                            <input type="text" id="GraduationDate" class="span2" placeholder="毕业日期" />
                            <span class="add-on"><i class="icon-refresh"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="GradeRank">年纪排名：</label>
                    <div class="controls">
                        <input type="text" id="GradeRank" name="GradeRank" placeholder="请输入年纪排名" value="<%= StudentInfo.GradeRank %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="GradeScale">年纪人数：</label>
                    <div class="controls">
                        <input type="text" id="GradeScale" name="GradeScale" placeholder="请输入年纪排名" value="<%= StudentInfo.GradeScale %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="AverageScore">平均成绩：</label>
                    <div class="controls">
                        <input type="text" id="AverageScore" name="AverageScore" placeholder="请输入平均成绩" value="<%= StudentInfo.AverageScore %>" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="btnSubmitInfo" class="btn btn-large btn-success" type="submit">保存学生信息</button>&emsp;
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tabFirstInterviewRegTP">
            <form id="FirstInterviewRegTPForm" action="/StudentMgr/SaleTrack/PostFirstInterviewRegTPForm" method="post" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">有无特殊课程：</label>
                    <div class="controls">
                        <input type="checkbox" class="IsIB" name="IsIB" <%= (StudentTPInfo.IsIB == true) ?
                        'checked="checked"' : "" %> />IB&emsp;
                        <input type="checkbox" class="IsAP" name="IsAP" <%= (StudentTPInfo.IsAP == true) ?
                        'checked="checked"' : "" %> />AP&emsp;
                        <input type="checkbox" class="IsALevel" name="IsALevel" <%= (StudentTPInfo.IsALevel == true) ?
                        'checked="checked"' : "" %> />A-Level&emsp;
                        <input type="text" class="OtherTP1" name="OtherTP1" placeholder="请输入其他课程名称" value="<%= StudentTPInfo.OtherTP1 %>" />
                        &nbsp;
                        <input type="text" class="OtherTP2" name="OtherTP2" placeholder="请输入其他课程名称" value="<%= StudentTPInfo.OtherTP2 %>" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >有无参加语言培训：</label>
                    <div class="IsLangTranWrap controls">
                        <div class="HasLangTranChose">
                            <input type="radio" name="IsLangTran" value="NoLangTran" class="IsLangTran" />无&emsp;
                            <input type="radio" name="IsLangTran" value="HasLangTran" class="IsLangTran" />有&emsp;
                        </div>

                        <div class="HasLangTranWrap display">
                            课程名称： <input type="text" name="LT1CourseName" class="LT1CourseName" placeholder="请输入课程名称" value="<%= StudentTPInfo.LT1CourseName %>" />&emsp;
                            培训机构： <input type="text" name="LT1CourseAddress" class="LT1CourseAddress" placeholder="请输入机构名称" value="<%= StudentTPInfo.LT1CourseAddress %>" />&emsp;
                        </div>
                        <div class="HasLangTranWrap display">
                            时　　间：
                                <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                    <input type="text" id="LT1DateBegin" class="span2" placeholder="开始培训时间" />
                                    <span class="add-on"><i class="icon-refresh"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            &nbsp;至&nbsp;
                                <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                    <input type="text" id="LT1DateEnd" class="span2" placeholder="结束培训时间" />
                                    <span class="add-on"><i class="icon-refresh"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">语言成绩：</label>
                    <div class="controls">
                        <div class="HasLangTranChose">
                            <input type="radio" class="IsTFIELTS" value="IsTF" name="IsTFIELTS" />托福&emsp;
                            <input type="radio" class="IsTFIELTS" value="IsIELTS" name="IsTFIELTS" />雅思&emsp;
                        </div>
                        <div class="TFIELTSWrap">
                            <input type="hidden" class="ResultID" value="<%= TFIELTSResult.ResultID %>" />
                            总分　　　　： <input type="text" name="Total" class="Total" placeholder="请输入总分" value="<%= TFIELTSResult.Total %>" />&emsp;
                        </div>
                        <div class="TFIELTSWrap">
                            考试时间　　：
                            <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="ExamDate" class="span2" placeholder="考试日期" />
                                <span class="add-on"><i class="icon-refresh"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>&emsp;
                        </div>
                        <div class="TFIELTSWrap">
                            计划考试日期：
                            <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="NextExamDate" class="span2" placeholder="计划考试日期" />
                                <span class="add-on"><i class="icon-refresh"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ExamResultWrap IsSATSSATWrap display control-group">
                    <label class="control-label">SAT&Iota;/SSAT 成绩：</label>
                    <div class="controls">
                        <div class="SATSSATWrap">
                            <input type="hidden" class="ResultID" value="<%= SATSSATResult.ResultID %>" />
                            总分　　　　： <input type="text" name="Total" class="Total" placeholder="请输入总分" value="<%= SATSSATResult.Total %>" />&emsp;
                            (
                                <input type="text" class="Math span1" name="Math" placeholder="Math" value="<%= SATSSATResultDetail.MathScore %>" />
                            &nbsp;/&nbsp;
                                <input type="text" class="Reading span1" name="Reading" placeholder="Reading" value="<%= SATSSATResultDetail.Reading %>" />
                            &nbsp;/&nbsp;
                                <input type="text" class="WriVoc span1" name="WriVoc" placeholder="" value="<%= SATSSATResultDetail.WriVoc %>" />
                            )&emsp;
                        </div>
                        <div class="SATSSATWrap">
                            考试时间　　：
                            <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="ExamDate" class="span2" placeholder="考试日期" />
                                <span class="add-on"><i class="icon-refresh"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>&emsp;
                        </div>
                        <div class="SATSSATWrap">
                            计划考试日期：
                            <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="NextExamDate" class="span2" placeholder="计划考试日期" />
                                <span class="add-on"><i class="icon-refresh"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ExamResultWrap IsSAT2Wrap display control-group">
                    <label class="control-label">SAT &Iota;&Iota;成绩：</label>
                    <div class="controls">
                        <div class="Sat2Wrap">
                            <input type="hidden" class="ResultID" value="<%= SAT2Result.ResultID %>" />
                            总分　　　　： <input type="text" name="Total" class="Total" placeholder="请输入总分" value="<%= SAT2Result.Total %>" />&emsp;
                        </div>
                        <div class="Sat2Wrap">
                            考试时间　　：
                            <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="ExamDate" class="span2" placeholder="考试日期" />
                                <span class="add-on"><i class="icon-refresh"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>&emsp;
                        </div>
                        <div class="Sat2Wrap">
                            计划考试日期：
                            <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="NextExamDate" class="span2" placeholder="计划考试日期" />
                                <span class="add-on"><i class="icon-refresh"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ExamResultWrap IsGREGMATWrap display control-group">
                    <label class="control-label">GRE/GMAT 成绩：</label>
                    <div class="controls">
                        <div class="HasGREGMASTChose">
                            <input type="radio" class="IsGREGMAT" value="5" name="IsGREGMAT" />GRE&emsp;
                            <input type="radio" class="IsGREGMAT" value="6" name="IsGREGMAT" />GMAT&emsp;
                        </div>
                        <div class="GREGMATWrap">
                            <input type="hidden" class="ResultID" value="<%= GREGMATResult.ResultID %>" />
                            总分　　　　： <input type="text" name="Total" class="Total" placeholder="请输入总分" value="<%= GREGMATResult.Total %>" />&emsp;
                            (
                            <input type="text" class="Math span1" name="Math" placeholder="Math" value="<%= GREGMATResultDetail.MathScore %>" />
                            &nbsp;/&nbsp;
                            <input type="text" class="Verbal span1" name="Verbal" placeholder="Verbal" value="<%= GREGMATResultDetail.Verbal %>" />
                            &nbsp;/&nbsp;
                            <input type="text" class="Writing span1" name="Writing" placeholder="Writing" value="<%= GREGMATResultDetail.Writing %>" />
                            )&emsp;
                        </div>
                        <div class="GREGMATWrap">
                            考试时间　　：
                            <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="ExamDate" class="span2" placeholder="考试日期" />
                                <span class="add-on"><i class="icon-refresh"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>&emsp;
                        </div>
                        <div class="GREGMATWrap">
                            计划考试日期：
                            <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="NextExamDate" class="span2" placeholder="计划考试日期" />
                                <span class="add-on"><i class="icon-refresh"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ExamResultWrap IsAPWrap display control-group">
                    <label class="control-label">AP 成绩：</label>
                    <div class="controls">
                        <div class="APWrap">
                            <input type="hidden" class="ResultID" value="<%= APResult.ResultID %>" />
                            总分　　　　： <input type="text" name="Total" class="Total" placeholder="请输入总分" value="<%= APResult.Total %>" />&emsp;
                        </div>
                        <div class="APWrap">
                            考试时间　　：
                            <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="ExamDate" class="span2" placeholder="考试日期" />
                                <span class="add-on"><i class="icon-refresh"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>&emsp;
                        </div>
                        <div class="APWrap">
                            计划考试日期：
                            <div class="input-append date timePicker" data-date-format="yyyy-mm-dd">
                                <input type="text" class="NextExamDate" class="span2" placeholder="计划考试日期" />
                                <span class="add-on"><i class="icon-refresh"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="btnSubmitTP" class="btn btn-large btn-success" type="submit">保存考试成绩</button>&emsp;
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tabFirstInterviewRegFrom">
            <form id="FirstInterviewRegFromForm" action="/StudentMgr/SaleTrack/PostFirstInterviewRegFromForm" method="post" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">如何知道APP：</label>
                    <div class="StudentFromWrap controls">
                        <% _.each(StudentSourceList,function(SourceItem){ %>
                        <p class="SourceItemWrap" data-ItemName="<%= SourceItem.SourceName %>">
                            <input type="checkbox" class="chkIsFrom" />&nbsp;
                            <input type="hidden" class="SourceDetailKeyword" value="<%= SourceItem.DetailKeyword %>" />
                            <span class="SourceName"><%= SourceItem.SourceName %></span>
                            <% if(SourceItem.DetailKeyword != null && SourceItem.DetailKeyword != "") { %>
                            ，<span class="DetailKeyword"><%= SourceItem.DetailKeyword %></span>
                            <% } %>
                            ：
                            <input type="text" placeholder="请输入来源信息" class="DetailContent" />
                        </p>
                        <% }); %>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="btnSubmitFrom" class="btn btn-large btn-success" type="submit">保存学生来源</button>&emsp;
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tabFirstInterviewRegFlashPoint">
            <form id="FirstInterviewRegFlashPointForm" action="/StudentMgr/SaleTrack/PostFirstInterviewRegFlashPointForm" method="post" class="form-horizontal">
                <% _.each(StudentFlashPointList,function(FlashPointItem){ %>
                <fieldset class="flashPointItem">
                    <span>闪光点类别：</span>
                    <select name="FlashPointType"class="FlashPointType span1">
                        <option value="0" <%= (FlashPointItem.FlashPointType == "0") ?
                        'selected="selected"' : "" %> >奖项</option>
                        <option value="1" <%= (FlashPointItem.FlashPointType == "1") ?
                        'selected="selected"' : "" %> >活动</option>
                        <option value="2" <%= (FlashPointItem.FlashPointType == "2") ?
                        'selected="selected"' : "" %> >经历</option>
                        <option value="3" <%= (FlashPointItem.FlashPointType == "3") ?
                        'selected="selected"' : "" %> >爱好</option>
                    </select>
                    &nbsp;
                    <input type="text" class="FlashPointIntro span3" name="FlashPointIntro" placeholder="请输入闪光点简介" value="<%= FlashPointItem.FlashPointIntro %>" />
                    &nbsp;
                    <input type="text" class="FlashPointDate" placeholder="请输入发生日期" value="<%= FlashPointItem.FlashPointDate %>" />
                    &nbsp;
                    <a class="removeParent" href="javascript:void(0)"><i class="icon-remove"></i></a>
                </fieldset>
                <% }); %>
                <fieldset id="flashPointFuncBtn">
                    <button class="btnAddFlashPoint btn btn-info">添加闪光点</button>
                    <br />
                    <br />
                    <button id="btnSubmitFlashPoint" class="btn btn-large btn-success" type="submit">提交所有闪光点</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>