<fieldset class="flashPointItem">
    <span>闪光点类别：</span>
    <select name="FlashPointType"class="FlashPointType span1">
        <option value="0" >奖项</option>
        <option value="1" >活动</option>
        <option value="2" >经历</option>
        <option value="3" >爱好</option>
    </select>
    &nbsp;
    <input type="text" class="FlashPointIntro span3" name="FlashPointIntro" placeholder="请输入闪光点简介" />
    &nbsp;
    <input type="text" class="FlashPointDate" placeholder="请输入发生日期"  />
    &nbsp;
    <a class="removeParent" href="javascript:void(0)"><i class="icon-remove"></i></a>
</fieldset>