<div id="studentMgr-GetFromInterview-wrap">
    <h2>编辑从<%= SaleTrackItem.StateName %>获得的信息</h2>
    <br />
    <div class="feedbackMsg alert">

    </div>
    <form id="GetFromInterviewForm" action="/StudentMgr/SaleTrack/SetGetFromDone" method="post" class="form-horizontal" >
        <div class="control-group">
            <label class="control-label" for="GetFromTrack">本次访谈成果：</label>
            <div class="controls">
                <textarea id="GetFromTrack" name="GetFromTrack" placeholder="请输入访谈成果" value="<%= SaleTrackItem.GetFromTrack %>"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ClientMostCare">客户最关心的方面：</label>
            <div class="controls">
                <textarea id="ClientMostCare" name="ClientMostCare" placeholder="请输入客户最关心的方面" value="<%= SaleTrackItem.ClientMostCare %>"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="SignIntention">签约意愿：</label>
            <div class="controls">
                <select name="SignIntention" id="SignIntention">
                    <option value="0">未签约</option>
                    <option value="1">可能性低</option>
                    <option value="2">可能性一般</option>
                    <option value="3">可能性高</option>
                    <option value="4">已签约</option>
                </select>
                &nbsp;
                <div id="SignDateWrap" class="input-append date timePicker display" data-date-format="yyyy-mm-dd">
                    <input type="text" id="SignDate" class="span2" placeholder="签约日期" />
                    <span class="add-on"><i class="icon-refresh"></i></span>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button id="btnSubmit" class="btn btn-large btn-success" type="submit">保存信息</button>&emsp;
            </div>
        </div>
    </form>
</div>