<div id="StudentMgr-SaleTrack-List-Content">
    <h2>您所管理的销售列表</h2>
    <form class="form-search">
        <div class="input-prepend">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="condition-current">全部</span>
                    <span class="caret"></span>
                </button>
                <ul class="condition-list dropdown-menu">
                    <li><a href="#" class="condition-all">全部</a></li>
                    <li><a href="#" class="condition-HasSign">已签约</a> </li>
                    <li><a href="#" class="condition-NoSign">未签约</a> </li>
                    <li><a href="#">学生</a></li>
                    <li><a href="#">销售负责人</a></li>
                </ul>
            </div>
            <input class="span2 search-content" type="text" placeholder="全部无需筛选" disabled="disabled">
        </div>
        <button type="submit" class="btn">Search</button>
    </form>
    <p>
        <a href="#StudentMgr/Index/Create" class="btn btn-success">添加学生</a>
    </p>
    <table id="SaleTrackTable" class="table-bordered">

    </table>
</div>