<td><a href="#StudentMgr/Index/Edit/Student-<%= StudentInfo.StudentID %>" title='<%= StudentInfo.NameCn %>'><%= StudentInfo.NameCn %></a></td>
<td><%= SaleTrackEntity.StateName %></td>
<td><%= SaleTrackEntity.IsComplete %></td>
<td><%= AppRelation.SaleConsultantName %></td>
<td><%= AppRelation.IsSign %></td>
<td>
    <a href="#StudentMgr/SaleTrack/FirstInterviewReg-<%= StudentInfo.StudentID %>" title='<%= StudentInfo.NameCn %>'>初访登记表</a>
    <a href="#StudentMgr/SaleTrack/SaleTrackHistory-<%= StudentInfo.StudentID %>" title='<%= StudentInfo.NameCn %>' >历史销售记录</a>
    <% if (AppRelation.IsSign == '已签约' ) { %>
    <% if (AppRelation.HasAssignConsultant) { %>
    <a href="#" title='<%= StudentInfo.NameCn %>' class="btn btn-success btn-mini">进入申请</a>
    <% } else { %>
    <a href="#StudentMgr/AssignConsultant-<%= StudentInfo.StudentID %>" title='<%= StudentInfo.NameCn %>' class="btn btn-info btn-mini">分配顾问</a>
    <% } %>
    <% } else { %>
    <a href="#StudentMgr/SaleTrack/AppInterview-<%= StudentInfo.StudentID %>" title='<%= StudentInfo.NameCn %>' class="btn btn-info btn-mini" >进入销售</a>
    <% } %>

</td>
