<td><a href="#StudentMgr/Index/Edit/Student-<%= StudentInfo.StudentID %>" title='<%= StudentInfo.NameCn %>'><%= StudentInfo.NameCn %></a></td>
<td><%= SaleTrackEntity.StateName %></td>
<td><%= SaleTrackEntity.IsComplete %></td>
<td><%= AppRelation.SaleConsultantName %></td>
<td><%= AppRelation.IsSign %></td>
<td>
    <% if (AppRelation.IsSign == '2' ) { %>
    <a href="#" title='<%= StudentInfo.NameCn %>'>进入申请</a>
    <% } else { %>
    <a href="#StudentMgr/SaleTrack/AppInterview-<%= StudentInfo.StudentID %>" title='<%= StudentInfo.NameCn %>'>进入销售</a>
    <% } %>
    <a href="#StudentMgr/SaleTrack/FirstInterviewReg-<%= StudentInfo.StudentID %>" title='<%= StudentInfo.NameCn %>'>初访登记表</a>
</td>
