<div class="Contact-Content controls control-group inline">
    <label class="control-label">身份：</label>
    <div class="controls">
        <select>
            <option value="学生" selected="selected">学生</option>
            <option value="父亲">父亲</option>
            <option value="母亲">母亲</option>
            <option value="其他">其他</option>
        </select>
        <input type="text" class="ContactName EnterTip" value="请输入联系人名字" />
        <input type="text" class="ContactMobile EnterTip" value="请输入手机号"/>
        <input type="text" class="ContactEmail EnterTip" value="请输入邮箱"/>
        <input type="text" class="EasyChatBegin EnterTip TimePick" />至<input type="text" class="EasyChatEnd EnterTip TimePick" />
        <a href="#" class="KeepAddEasyChat">继续添加方便接听电话时间</a>
    </div>
</div>