<fieldset class="contactItem">
    <select class="ContactIdentity span1">
        <option value="学生" selected="selected">学生</option>
        <option value="父亲">父亲</option>
        <option value="母亲">母亲</option>
        <option value="其他">其他</option>
    </select>
    <input type="text" class="ContactName span2" placeholder="请输入联系人名字" />
    <input type="text" class="ContactMobile span2" placeholder="请输入手机号"/>
    <input type="text" class="ContactEmail" placeholder="请输入邮箱"/>
    <a class="removeParent" href="javascript:void(0)"><i class="icon-remove"></i></a>
    <br>
    <btn class="btnAddEasyChat btn">添加接电话时间</btn>
</fieldset>