<div class="easyChat-wrap">
    <div class="input-append date timePicker easyChat-begin" data-date-format="hh:ii">
        <input type="text" class="span1" placeholder="hh:ss" value=""/>
        <span class="add-on"><i class="icon-refresh"></i></span>
        <span class="add-on"><i class="icon-th"></i></span>
    </div>
    至
    <div class="input-append date timePicker easyChat-end" data-date-format="hh:ii">
        <input type="text" class="span1" placeholder="hh:ss" />
        <span class="add-on"><i class="icon-refresh"></i></span>
        <span class="add-on"><i class="icon-th"></i></span>
    </div>
    &nbsp;

    <a class="removeParent" href="javascript:void(0)"><i class="icon-remove"></i></a>
</div>