<div id="StudentMgr-List-Content">
    <h2>您所管理的学生列表</h2>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>名字</th>
                <th>性别</th>
                <th>在读学校</th>
                <th>年级</th>
                <th>留学意向</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <p>
        <a href="/StudentMgr/Index/Create" class="btn btn-success">添加学生</a>
    </p>
</div>