<div id="home-feedback-content" class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabFeedbackSubmit" data-toggle="tab">我要反馈</a></li>
        <li><a href="#tabFeedbackList" data-toggle="tab">常见问题</a></li>
        <li><a href="#tabFeedbackSearch" data-toggle="tab">查找帮助</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabFeedbackSubmit">
            <p>告诉我们发生了什么......</p>
        </div>
        <div class="tab-pane" id="tabFeedbackList">
            <p>好多好多常见问题啊！</p>
        </div>
        <div class="tab-pane" id="tabFeedbackSearch">
            <p>在输入框中输入问题吧！</p>
        </div>
    </div>
</div>