<div><img src="../../Content/images/App_logo.jpg" class="appLogo-signin">
<div id="container">
    <div id="signin-error">
        <strong>错误</strong>
        ：
        <b>
            <% if(invalid.errorMsg) { %>
            <%= invalid.errorMsg %>
            <% }  %>
        </b>
    </div>
    <form class="form-signin" id="form-signin" method="post" action="/app-login.html">
        <h2 class="form-signin-heading">登录系统</h2>
        <label for="userName">
            <input type="text" name="UserName" id="userName" class="input-block-level" placeholder="请输入中文名" value="<%= UserName %>"/>
        </label>
        <label for="password">
            <input type="password" name="UserPassword" id="password" class="input-block-level" placeholder="请输入密码" value="<%= UserPassword %>"/>
        </label>
        <label class="checkbox">
            <% if( RememberMe ) { %>
                <input name="rememberMe" type="checkbox" value="remember-me" checked="checked"/>
            <% } else { %>
            <input name="rememberMe" type="checkbox" value="remember-me"/>
            <% } %>
            记住我
        </label>
        <button id="btnSubmit" class="btn btn-large btn-primary" type="submit">提交</button>
    </form>
</div>
</div>